/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
em {
  font-weight: bold;
  font-style: normal;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.mb {
  display: block;
}
.pc {
  display: none;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cLogoBlue;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: $cWhite;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

.nft {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;

    @include p-base(
      $display: none,
      $width: 100px,
      $height: 1px,
      $top: 50%,
      $left: -120px
    ) {
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 1.6s;
      transform-origin: right;
    }
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;
    flex-basis: 47%;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;
    flex-basis: 47%;

    &.inview {
      & .nft__title::before {
        transform: translateY(-50%);
      }
    }
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;

    & > button {
      & > a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.mission {
  @extend .content-width;
  @extend .mb-lg;
  background-color:#bceff1;
  padding: 15px;

  &__description {
    margin: 40px 0px 40px 0px;
    text-align: center;
    & > h1 {
      font-size: 1.2rem;
      margin-bottom: 30px;
      & > em {
        color: $cLogoBlue;
      }
    }
    & .description {
      font-size: 1rem;
    }
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  display: flex;
  color: $cLogoBlue;

  &__img {
    width: 0.7em;
  }
}

.company {
  @extend .logo;
  @extend .flex;
  @extend .content-width;
  font-size: 3rem;
  padding: 10px 0px 90px 0px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;

  &__img {
    width: 1em;
    height: 100%;
  }

  &__container {
    flex-basis: 100%;
    text-align: center;
  }
}

.news {
  @extend .content-width;
  background-color: #aebfff;
  color: black;
  margin-bottom: $content-btm;
  padding: 15px;

  &__container {
    padding: 30px;
    @extend .flex;
    flex-direction: column;
    background-color: #dadff8;
  }

  & .support-img {
    flex-basis: 100%;
  }

  & .description {
    font-size: 1.2rem;
    margin-top: 30px;
    text-align: center;
    flex-basis: 100%;

    & .mb {
      margin-top: 20px;
      flex-basis: 100%;
      font-size: 1.7rem;
    }
    & .pc {
      margin-top: 20px;
      flex-basis: 100%;
      font-size: 1.7rem;
    }
  }
}

.footer {
  margin: 0px;
  padding: 60px;
  width: 100%;
  background-color: whitesmoke;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;

  & .tween-animate-title {
    color: $cBlack;
    text-decoration: none !important;
    margin: 0 40px;
    vertical-align: middle;
    letter-spacing: 2px;
  }

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
    }
  }
  &.right {
    right: -50px;

    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right;
      transform: rotate(90deg);
    }
  }
}

.icon {
  position: relative;

  @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.twitter {
    &::before {
      background-image: url(../images/twitter.svg);
    }
  }
  &.fb {
    &::before {
      background-image: url(../images/facebook.svg);
    }
  }
}

.NFT {
  @extend .content-width;
  padding-top: 100px;
  position: relative;
  overflow: hidden;

  &__explanation {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;

    &.about {
      background-color: #dcdede;
      color: #486063;
    }

    &.second {
      background-color: #96c6cb;
      color: #2f361a;
    }

    &.merit {
      background-color: #bee5e3;
      color: black;
    }
    & .title {
      text-align: center;
    }

    & .description {
      text-align: center;
      & .main-description {
        font-size: 1.1rem;
        &.pc {
          display: none;
        }
      }

      margin-top: 50px;
      font-size: 1rem;
      @extend.content-width;
    }

    & .market-img {
      margin-top: 50px;
      text-align: center;

      & > img {
        text-align: center;
        width: 90%;
      }
    }

    & .merit {
      padding: 10px 10px;
      & > li {
        text-align: center;
        margin-top: 30px;
        list-style: none;
      }
    }
  }
}

.service {
  @extend .content-width;
  background-color: #97d5c7;
  margin-bottom: $content-btm;
  padding: 15px;
  &__container {
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    background-color: rgb(211, 236, 235);
    margin: 10px 0px;
    padding: 15px;
    flex-basis: 100%;
  }

  &__title {
    font-size: 25px;
    text-align: center;
  }

  &__explanation {
    font-size: 15px;

    & .main-exp {
      font-size: 0.75rem;
      text-align: center;
    }
    & .detail {
      font-size: 5px;
    }
  }
}

.contact {
  @extend .content-width;
  &__inner {
    text-align: center;
    padding: 20px;
    padding-top: 130px;
    background-color: #96e5fd75;
    
  }

  &__twitter{
    & .exp{
      margin-bottom: 25px;
    }

    & .account{
      font-size: 20px;
    }
    & .link{
      & >a{
        text-decoration: none;
      }
    }
    padding: 30px;
  }
  &__maile {
    padding: 30px;
    background-color:rgb(186, 222, 236); 
  }
  &__btn-container {
    @extend .flex;
    flex-direction: column;
    & > button {
      flex-basis: 100%;
      padding: 10px 30px;
    }
  }
  &__address {
    padding-top: 50px;
  }
}

#service {
  padding-top: 200px;
  margin-top: -200px;
}
